<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342802674902-0pkqc8b1q6k7hgmaau5h7ta0am5esvt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342802674902-0pkqc8b1q6k7hgmaau5h7ta0am5esvt8</string>
	<key>API_KEY</key>
	<string>AIzaSyB2wKF1aPmbcyFCAMIVCuou77qOYlUzWYI</string>
	<key>GCM_SENDER_ID</key>
	<string>342802674902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialsignup</string>
	<key>PROJECT_ID</key>
	<string>socialsignup-36839</string>
	<key>STORAGE_BUCKET</key>
	<string>socialsignup-36839.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342802674902:ios:8614b73125301c95110577</string>
</dict>
</plist>